:root {
    font-family: "Roboto", "sans-serif";
    --orange: #ff9d00;
    --black: #252932;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--orange);
    padding: 0 20px;
}

nav,
footer {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.logo-container > img {
    height: 52px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-links > button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.1rem;
    color: inherit;
}

.nav-links > button:hover {
    text-decoration: underline;
}

#content {
    display: flex;
    flex: 1;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 5rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 3.5rem;
}

.hero-text > p {
    font-style: italic;
}

.about,
.menu {
    padding: 1.5rem 10rem;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 2rem;
    flex: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 2rem;
    flex: 1;
}

.menu > h1 {
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 52px;
    margin-top: 24px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 2px solid var(--black);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.menu-card:hover {
    border: 2px solid var(--orange);
}

.menu-card > * {
    margin: 0;
    padding: 0;
}

.menu-card > img {
    height: 150px;
    width: 150px;
}

.divider {
    width: 100%;
    border: 1px solid lightgray;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    color: var(--black);
}